body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fbab7e;
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

.otp-input-container {
  display: flex;
  overflow: auto;
  padding: 1rem;
}

.otp {
  border: none;
  width: 4rem;
  margin: 0 1rem;
  padding: 1rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0.5);
  text-align: center;
  font-size: 2rem;
  pointer-events: none;
}

.otp:nth-child(1) {
  cursor: pointer;
  pointer-events: auto;
}

.otp:focus {
  outline: none;
  border-color: red;
}
