.add-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #edeef0;
  border-radius: 1rem;
}

.add-item__input {
  border-radius: 0.2rem;
  border: none;
  border-radius: 1rem;
  flex: 1;
  background: none;
  outline: none;
  padding-left: 2%;
}

.add-item__button {
  cursor: pointer;
  background: #ff5945;
  border-radius: 1rem;
  border: none;
  padding: 0.5rem 1.5rem;
  color: white;
  font-weight: bold;
}
