.add-task-column-container {
  background-color: #f4f4f4;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  right: 1rem;
  height: 3rem;
  border-radius: 0.2rem;
  padding: 0.3rem;
  display: none;
}

.entity-input {
  flex: 1;
  border: none;
  border-radius: 0.2rem;
  padding: 0 1rem;
}

.add-task-column {
  width: 2rem;
  font-size: 2rem;
  border: none;
  cursor: pointer;
}

.flex {
  display: flex;
}
